.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    /* background-color: rgba(0, 0, 0, 0.449); */
    background-color: rgba(0, 0, 0, 0.746);
}

.authform{
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: black;
    width:50%;
    /* min-height: 50%; */
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(201, 171, 60, 0.746);
    height:70%
}

.authform .left{
    width:50%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center ;
    
}

.authform .left img{
    width: 80%;
    /* height: 80%; */
    object-fit: contain;
}

.authform .right{
    width: 50%;
    height: 100%;
    border-left: 1px solid var(--col1);
    padding: 20px;
    overflow: scroll;
    /* gap: 10px; */
}

.authform .right h1{
    color: var(--col1);
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    gap: 10px;
    margin: 10px 0px 
}

.authform .right form{
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.authform p{
    margin: 10px 0px;
}

.authform .form_input_leftright{
    display: flex;
    gap: 10px;
}

/* .authform .right form input{
    /* background-color: aqua; */
/* } */

/* .popup .close{
    position: relative;
    top: -110px;
    right: 10px;
    left:750px;
    border-radius: 50%;
    line-height: 1;
    /* font-weight: 200px; 
}  */

.popup .close{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    line-height: 0;
}